<h1>Community Resources Online</h1>

<p>Mission: Build an online resource which succinctly organizes the wide variety of resources which are available to the homeless and low income families but are marked by difficulty to reach.</p>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= button_to 'english as a 2nd language', {controller: 'veterans', method: :get}, {method: :get, class: 'btn-default btn-lg'} %>
    </div>

    <div class="item">
      <%= button_to 'addiction and recovery', {controller: 'veterans', method: :get}, {method: :get, class: 'btn-default btn-lg'} %>
    </div>

    <div class="item">
      <%= button_to 'pregnancy support', {controller: 'pregnancy', method: :get}, {method: :get, class: 'btn-default btn-lg'} %>
    </div>

    <div class="item">
      <% ['after school programming', 'childcare centers', 'school supplies'].map do |button_text| %>
        <%= button_to button_text, {controller: 'veterans', method: :get}, {method: :get, class: 'btn-default btn-lg'} %>
      <% end %>
      <br>
      <div class="carousel-caption">
          <h3>Kids</h3>
      </div>
    </div>

    <% ['training and education', 'transportation services', 'utility assistance', 'veterans', 'teen resources', 'rent assistance', 'material assistance', 'food pantries', 'free clinics', 'furniture', 'clothing', 'counseling', 'employment', 'legal services', 'housing', 'holiday assistance', 'GED information', 'youth programs / special needs','cell phones (computers and internet)'
     ].map do |button_text| %>
      <div class="item">
      <%= button_to button_text, {controller: 'veterans', method: :get}, {method: :get, class: 'btn-default btn-lg'} %>
      <br>
      </div>
    <% end %>


    <div class="item">
      <%= button_to 'budgeting help', {controller: 'veterans', method: :get}, {method: :get, class: 'btn-default btn-lg'} %>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->


