<h1>Community Resources Online</h1>

<p>Mission: Build an online resource which succinctly organizes the wide variety of resources which are available to the homeless and low income families but are marked by difficulty to reach.</p>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <button type="button" class="btn btn-lg">english as 2nd languange</button>
      <div class="carousel-caption">
          <h3>Caption Text</h3>
      </div>
    </div>

    <div class="item">
      <button type="button" class="btn btn-lg">addiction and recovery</button>
    </div>

    <div class="item">
    <button type="button" class="btn btn-lg">after school programming</button>
    <button type="button" class="btn btn-lg">childcare centers</button>
    <button type="button" class="btn btn-lg">school supplies </button>
<br>
      <div class="carousel-caption">
          <h3>Kids</h3>
      </div>
    </div>

    <%= ['teen resources', 'rent assistance', 'material assistance', 'food pantries', 'free clinics', 'furniture', 'clothing', 'counseling', 'employment', 'legal services', 'housing', 'holiday assistance', 'GED information', 'youth programs / special needs','cell phones (computers and internet)'
     ].each do |button_text| %>
      <div class="item">
      <%= button_to button_text, {controller: 'veterans', method: :get}, {method: :get, class: 'btn-default btn-lg'} %>
      <br>
      </div>
    <% end %>

    <div class="item">
    <button type="button">budgeting help</button>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->




<br>
<%= button_to 'pregnancy support', {controller: 'pregnancy', method: :get}, {method: :get, class: 'btn-default btn-lg'} %>
<br>
<%= button_to 'training and education', {controller: 'veterans', method: :get}, {method: :get, class: 'btn-default btn-lg'} %>
<br>
<%= button_to 'transportation services', {controller: 'veterans', method: :get}, {method: :get, class: 'btn-default btn-lg'} %>
<br>
<%= button_to 'utility assistance', {controller: 'veterans', method: :get}, {method: :get, class: 'btn-default btn-lg'} %>
<br>
<%= button_to 'veterans', {controller: 'veterans', method: :get}, {method: :get, class: 'btn-default btn-lg'} %>

