- content_for :title, 'Log In'
.container
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-container
      .row
        .col-md-6
          .form-group
            = f.label :email, class: 'form-control'
            = f.email_field :email, autofocus: true, class: 'form-control'
        .col-md-6
          .form-group
            = f.label :password, class: 'form-control'
            = f.password_field :password, autocomplete: 'off', class: 'form-control'
          .form-group.actions
            = f.submit 'Log in', class: %w{btn btn-primary form-control}
          .form-group
            = f.check_box :remember_me
            = f.label :remember_me
  .row
    .col-md-12.preheader
      = render 'devise/shared/links'
