<h1>Employment</h1>

<br>
<div class="box">
<b>Office of Workforce Development</b>
Many resources available through Ohio Office of Workforce Development at .<%= linkto, link: 'http://jfs.ohio.gov/owd/JobSeekers/index.stm' %>
<p> <%= render 'phoneno' %> 1-888-296-7541, Option # 3 </p>
<p> Location: P.O. Box 1618
Columbus, OH 43216-1618</p>
<p> <%= render 'email' %>Email: WIAQNA@jfs.ohio.gov</p>
</div>

<br>
<div class="box">
<b>Columbus Urban League</b>
Summer program for young adults 14-18, New Beginnings program- four-week career transition guidance. <%= linkto, link: 'http://www.cul.org/cul-workforce-development-car/' %>
<p> <%= render 'phoneno' %>  614-257-6300 </p>
<p> Location: 788 Mount Vernon Avenue
1390 Cleveland Avenue
2350 West Mound Street</p>
</div>

<div class="box">
<b>COWIC</b>
Many resources available through Ohio Office of Workforce Development at <%= linkto, link: 'http://jfs.ohio.gov/owd/JobSeekers/index.stm' %>
<p> <%= render 'phoneno' %> 1-888-296-7541, Option # 3 </p>
<p> Location: P.O. Box 1618
Columbus, OH 43216-1618</p>
<p> <%= render 'email' %>Email: WIAQNA@jfs.ohio.gov</p>
</div>
<br>
<br>
<b></b> – Offers a computer lab with job listings and career counselors. They also offer financial assistance programs for employment training, college classes, and GED classes. 614-559-5052 Location: 1111 E. Broad St., Suite 201, 43205 http://www.cowic.org/

<br>
<br>
<b>IMPACT Employment Plus Program</b>  - Offers an intensive work readiness certification program tailored specifically for those who are disengaged from the workforce and need basic knowledge in order to return to entry level employment opportunities. 120 hour, stipend subsidized course accelerated over 4 consecutive weeks. 614-453-1712
Location: 700 Bryden Rd., Columbus, Ohio 43215 http://www.impactca.org/welcome/
<h1>Pregnancy Support</h1>
