%h1 Employment
%br/
%br/
.box
  %b Office of Workforce Development
  %p
    Many resources available through Ohio Office of Workforce Development at .#{render 'linkto', link: 'http://jfs.ohio.gov/owd/JobSeekers/index.stm'}
  %p
    = render 'phoneno'
    1-888-296-7541, Option # 3
  %p
    Location: P.O. Box 1618
    Columbus, OH 43216-1618
  %p
    = render 'email'
    Email: WIAQNA@jfs.ohio.gov
%br/
%br/
.box
  %b Columbus Urban League
  Summer program for young adults 14-18, New Beginnings program- four-week career transition guidance. #{render 'linkto', link: 'http://www.cul.org/cul-workforce-development-car/'}
  %p
    = render 'phoneno'
    614-257-6300
  %p
    Location: 788 Mount Vernon Avenue
    1390 Cleveland Avenue
    2350 West Mound Street
%br/
%br/
.box
  %b COWIC
  Offers a computer lab with job listings and career counselors. They also offer financial assistance programs for employment training, college classes, and GED classes. #{render 'linkto', link: 'http://www.cowic.org/'}
  %p
    = render 'phoneno'
    614-559-5052
  %p
    Location:1111 E. Broad St., Suite 201
    Columbus, OH 43205
%br/
%br/
%br/
%br/
.box
  %b IMPACT Employment Plus Program
  Offers an intensive work readiness certification program tailored specifically for those who are disengaged from the workforce and need basic knowledge in order to return to entry level employment opportunities. 120 hour, stipend subsidized course accelerated over 4 consecutive weeks. #{render 'linkto', link: 'http://www.impactca.org/welcome/'}
  %p
    = render 'phoneno'
    614-453-1712
  %p
    Location:700 Bryden Rd.
    Columbus, Ohio 43215
%br/
%br/
%br/
%br/
.box
  %b Columbus Urban League
  Summer program for young adults 14-18, New Beginnings program- four-week career transition guidance. #{render 'linkto', link: 'http://www.cul.org/cul-workforce-development-car/'}
  %p
    = render 'phoneno'
    614-257-6300
  %p
    Location: 788 Mount Vernon Avenue
    1390 Cleveland Avenue
    2350 West Mound Street
