- content_for :title, humanize(@category)
.container.service-listing
  - Services[@category].each do |service|
    -# the original markup is interfering with maps
    -#
    -# if fixed, please update the comments in
    -#   app/assets/javascripts/collapsable.coffee
    -#
    -# original code:
    -#   .row.service.collapsable
    .row.service
      .col-md-12
        %header
          .title= service[:title]
        .content.color-inverted
          .description= raw service[:description]
          - if service[:website].present?
            %a.website
              %span.glyphicon.glyphicon-share-alt
              = service[:website]
          - service[:phone].each do |phone|
            %p
              %span.glyphicon.glyphicon-earphone
              = phone
          - if service[:email].present?
            %p= service[:email]
          - service[:mailing_address].each do |mailing_address|
            %div= raw newline_to_br mailing_address
          - service[:physical_address].each do |physical_address|
            %span.glyphicon.glyphicon-map-marker
            %div= raw newline_to_br physical_address
            = display_map physical_address
